<html xmlns:th="http://www.thymeleaf.org">
<head><title>URARTU Picture</title>
    <style> .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .image-container {
        margin-bottom: 20px;
    }

    .image-container img {
        max-width: 100%;
        height: auto;
    }

    .no-pain {
        color: green;
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
    }

    .small {
        color: gray;
        font-size: 14px;
        font-style: italic;
        margin-top: 5px;
    } </style>

</head>
<body>
<div class="container">
    <div class="image-container"><img th:src="@{/images/URARTU.png}" alt="URARTU">
        <div class="no-pain" th:text="|No pain |">No pain</div>
        <div class="small" th:text="|Small |">Small</div>
    </div>
    <div class="image-container"><img th:src="@{/images/Mirzoyan.png}" alt="Mirzoyan">
        <div class="no-pain" th:text="|No pain |">No pain</div>
        <div class="small" th:text="|Small |">Small</div>
    </div>
    <div class="image-container"><img th:src="@{/images/Mishiev.png}" alt="Mishiev">
        <div class="no-pain" th:text="|No pain |">No pain</div>
        <div class="small" th:text="|Small |">Small</div>
    </div>
    <div class="image-container"><img th:src="@{/images/Nakato.png}" alt="Nakato">
        <div class="no-pain" th:text="|No pain |">No pain</div>
        <div class="small" th:text="|Small |">Small</div>
    </div>
    <div class="image-container"><img th:src="@{/images/Panteleev.png}" alt="Panteleev">
        <div class="no-pain" th:text="|No pain |">No pain</div>
        <div class="small" th:text="|Small |">Small</div>
    </div>
    <div class="image-container"><img th:src="@{/images/Pesukic.png}" alt="Pesukic">
        <div class="no-pain" th:text="|No pain |">No pain</div>
        <div class="small" th:text="|Small |">Small</div>
    </div>
    <div class="image-container"><img th:src="@{/images/Piloyan.png}" alt="Piloyan">
        <div class="no-pain" th:text="|No pain |">No pain</div>
        <div class="small" th:text="|Small |">Small</div>
    </div>
    <div class="image-container"><img th:src="@{/images/Poliakov.png}" alt="Poliakov">
        <div class="no-pain" th:text="|No pain |">No pain</div>
        <div class="small" th:text="|Small |">Small</div>
    </div>
    <div class="image-container"><img th:src="@{/images/Prudnikov.png}" alt="Prudnikov">
        <div class="no-pain" th:text="|No pain |">No pain</div>
        <div class="small" th:text="|Small |">Small</div>
    </div>
    <div class="image-container"><img th:src="@{/images/Putsko.png}" alt="Putsko">
        <div class="no-pain" th:text="|No pain |">No pain</div>
        <div class="small" th:text="|Small |">Small</div>
    </div>
    <div class="image-container"><img th:src="@{/images/Sabua.png}" alt="Sabua">
        <div class="no-pain" th:text="|No pain |">No pain</div>
        <div class="small" th:text="|Small |">Small</div>
    </div>
    <div class="image-container"><img th:src="@{/images/Salou.png}" alt="Salou">
        <div class="no-pain" th:text="|No pain |">No pain</div>
        <div class="small" th:text="|Small |">Small</div>
    </div>
    <div class="image-container"><img th:src="@{/images/Simonyan.png}" alt="Simonyan">
        <div class="no-pain" th:text="|No pain |">No pain</div>
        <div class="small" th:text="|Small |">Small</div>
    </div>
    <div class="image-container"><img th:src="@{/images/Stojanovich.png}" alt="Stojanovich">
        <div class="no-pain" th:text="|No pain |">No pain</div>
        <div class="small" th:text="|Small |">Small</div>
    </div>
    <div class="image-container"><img th:src="@{/images/Tarakhchan.png}" alt="Tarakhchan">
        <div class="no-pain" th:text="|No pain |">No pain</div>
        <div class="small" th:text="|Small |">Small</div>
    </div>
    <div class="image-container"><img th:src="@{/images/Tsymbaliuk.png}" alt="Tsymbaliuk">
        <div class="no-pain" th:text="|No pain |">No pain</div>
        <div class="small" th:text="|Small |">Small</div>
    </div>
</div>
</body>
</html>